In [2]:
#1 

All_type_of_Data = ['Aadil Ali' , [2,3,4,5,6] , 3.4, 6.7 , (3,4,5,67)]
All_type_of_Data

['Aadil Ali', [2, 3, 4, 5, 6], 3.4, 6.7, (3, 4, 5, 67)]

Q2.

var1 = str

var2 = str

var3 = list 

var4 = float

Q3

'/' = Devision Operator Divides the number on its left by the number on its right and returns a floating point value. 

'%' = Modulo Operator return the remainder 

'//' = Floor Devision Operator Divides the number on its left by the number on its right, rounds down the answer, and returns a whole number.

'**' = The operator that can be used to perform the exponent arithmetic in Python is **

Q4

In [18]:
l = [2,3,4,5,4.5,34.7,'Aadil','Sahil']
for i in l:
    print(i)

2
3
4
5
4.5
34.7
Aadil
Sahil

Q5

In [3]:
a = int(input('First Number : '))
b = int(input('Second Number : '))
while a % b == 0:
        print(a/b)
        break

First Number :  3456
Second Number :  4

864.0

Q6

In [14]:
l1 = list(range(1,26))
l2 = []
for i in l1:
    if i % 3 == 0:
        l2.append
        print(i)
    else :
        continue

3
6
9
12
15
18
21
24

Q7

Mutable : We can change the size of the data and value of the data in Mutable 

Immutable  : We can't change anything in immutable data

In [16]:
#Mutable 
x = [2,3,4,5,6,7]
x[4] = 10
x

[2, 3, 4, 5, 10, 7]

In [17]:
#Immutable 
y = (1,2,3,4,5,6)
y[3] = 10

TypeError: 'tuple' object does not support item assignment