In [1]:
import pandas as pd

Q1

Certainly! Here are five functions commonly used in the pandas library along with their execution examples:

1. **`read_csv()`**: This function is used to read data from a CSV file and create a pandas DataFrame.

```python
import pandas as pd

# Read a CSV file and create a DataFrame
data = pd.read_csv('data.csv')
print(data.head())
```

2. **`head()`**: It is used to display the first n rows of a DataFrame. By default, it shows the first 5 rows.

```python
import pandas as pd

# Create a DataFrame
data = {'Name': ['John', 'Jane', 'Mike', 'Sarah', 'Chris'],
        'Age': [25, 30, 35, 28, 42],
        'City': ['New York', 'London', 'Paris', 'Tokyo', 'Sydney']}
df = pd.DataFrame(data)

# Display the first 3 rows of the DataFrame
print(df.head(3))
```

3. **`info()`**: It provides a summary of a DataFrame, including the column names, data types, and number of non-null values.

```python
import pandas as pd

# Create a DataFrame
data = {'Name': ['John', 'Jane', 'Mike', 'Sarah', 'Chris'],
        'Age': [25, 30, 35, 28, 42],
        'City': ['New York', 'London', 'Paris', 'Tokyo', 'Sydney']}
df = pd.DataFrame(data)

# Get summary information about the DataFrame
df.info()
```

4. **`describe()`**: This function generates descriptive statistics of the numerical columns in a DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartile values.

```python
import pandas as pd

# Create a DataFrame
data = {'Name': ['John', 'Jane', 'Mike', 'Sarah', 'Chris'],
        'Age': [25, 30, 35, 28, 42],
        'City': ['New York', 'London', 'Paris', 'Tokyo', 'Sydney']}
df = pd.DataFrame(data)

# Generate descriptive statistics of the numerical columns
print(df.describe())
```

5. **`groupby()`**: This function is used to group rows of a DataFrame based on one or more columns, allowing for aggregations and analysis.

```python
import pandas as pd

# Create a DataFrame
data = {'Name': ['John', 'Jane', 'Mike', 'Sarah', 'Chris'],
        'Age': [25, 30, 35, 28, 42],
        'City': ['New York', 'London', 'Paris', 'Tokyo', 'Sydney']}
df = pd.DataFrame(data)

# Group the DataFrame by 'City' and calculate the average age
grouped = df.groupby('City')
average_age = grouped['Age'].mean()
print(average_age)
```

Q2

In [2]:
data = {'a' : [1,3,34,1,2,23,3] , 'b' : [3,2,3,4,4,5 , 7],'c' : [1,2,3,5,6,8,4]}
df =pd.DataFrame(data)
df.reindex(index =[1,4,7,10,13,16,19] , columns = ['a' ,'b','c'])

      a    b    c
1   3.0  2.0  2.0
4   2.0  4.0  6.0
7   NaN  NaN  NaN
10  NaN  NaN  NaN
13  NaN  NaN  NaN
16  NaN  NaN  NaN
19  NaN  NaN  NaN

Q3

In [3]:
data = {'column' : [10, 20, 30, 40, 50],}
df1 = pd.DataFrame(data)
sum = 0
for i in df1['column']:
    if i <40:
        sum = sum + i
    else:
        break
    
print(sum)

60

Q4

In [4]:
data  = {'Text' : ["Aadil Ali this side I'm currently learning data science" , "Sahil Ansari" , "Sudhanshu Sir hi " , "Hello"]}
df2 =pd.DataFrame(data)
df2["Word_Count"] = df2['Text'].str.split().str.len()
df2

                                                Text  Word_Count
0  Aadil Ali this side I'm currently learning dat...           9
1                                       Sahil Ansari           2
2                                  Sudhanshu Sir hi            3
3                                              Hello           1

Q5

Pandas DataFrame size():


The size property is used to get an int representing the number of elements in this object and Return the number of rows if Series. Otherwise, return the number of rows times the number of columns if DataFrame.

Syntax: dataframe.size
Return : Returns size of dataframe/series which is equivalent to total number of elements. That is rows x columns.


Pandas DataFrame shape()


The shape property is used to get a tuple representing the dimensionality of the Pandas DataFrame
Syntax: dataframe.shape
Return : Returns tuple of shape (Rows, columns) of dataframe/series

Q6

Pandas read_excel()

Q7

In [6]:
import pandas as pd

def extract_username(df):
    df['Username'] = df['Email'].str.split('@').str[0]
    return df


df  = pd.DataFrame({'Email' : ["Aadilali@domain.com" , "SahilAnsari@domail.com" , "Sudhanshu@domain.com " , "Hello@domaincom"]})
df_with_username = extract_username(df)
print(df_with_username)

                    Email     Username
0     Aadilali@domain.com     Aadilali
1  SahilAnsari@domail.com  SahilAnsari
2   Sudhanshu@domain.com     Sudhanshu
3         Hello@domaincom        Hello

Q8

In [4]:

import pandas as pd

def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

df =pd.DataFrame( {'A' : [3,8,6,2,9], 'B' : [5,2,9,3,1] ,'C':[1,7,4,5,2] })
selected_rows = select_rows(df)
print(selected_rows)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9

In [7]:
import pandas as pd

def calculate_statistics(df):
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_value = df['Values'].std()
    return mean_value, median_value, std_value

# Example usage
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})

mean, median, std = calculate_statistics(df)
print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", std)

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

Q10

In [3]:
import pandas as pd

def calculate_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

# Example usage
df = pd.DataFrame({'Date': ['2023-07-01', '2023-07-02', '2023-07-03', '2023-07-04', '2023-07-05', '2023-07-06', '2023-07-07', '2023-07-08'],
                   'Sales': [10, 12, 8, 14, 11, 9, 13, 15]})

df_with_ma = calculate_moving_average(df)
print(df_with_ma)

         Date  Sales  MovingAverage
0  2023-07-01     10      10.000000
1  2023-07-02     12      11.000000
2  2023-07-03      8      10.000000
3  2023-07-04     14      11.000000
4  2023-07-05     11      11.000000
5  2023-07-06      9      10.666667
6  2023-07-07     13      11.000000
7  2023-07-08     15      11.714286

Q11

To create a new column 'Weekday' in the DataFrame 'df' that contains the weekday names corresponding to each date in the 'Date' column, you can use the dt.weekday_name attribute of the Pandas datetime objects. Here's a Python function that accomplishes this:

In [12]:
import pandas as pd

def add_weekday_column(df):
    df['Weekday'] = pd.to_datetime(df['Date']).dt.strftime("%A")
    
    return df
# Example usage
df = pd.DataFrame({'Date': ['2023-07-01', '2023-07-02', '2023-07-03', '2023-07-04', '2023-07-05', '2023-07-06', '2023-07-07', '2023-07-08']})

df_with_weekday = add_weekday_column(df)
print(df_with_weekday)

         Date    Weekday
0  2023-07-01   Saturday
1  2023-07-02     Sunday
2  2023-07-03     Monday
3  2023-07-04    Tuesday
4  2023-07-05  Wednesday
5  2023-07-06   Thursday
6  2023-07-07     Friday
7  2023-07-08   Saturday

Q12

In [15]:
import pandas as pd

def select_rows_between_dates(df):
    start_date = pd.to_datetime('2023-01-01')
    end_date = pd.to_datetime('2023-01-31')
    mask = (df['Date'] >= str(start_date)) & (df['Date'] <= str(end_date))
    selected_rows = df.loc[mask]
    return selected_rows

# Example usage
df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-15', '2023-01-20', '2023-02-05', '2023-01-10']})

selected_rows = select_rows_between_dates(df)
print(selected_rows)

         Date
1  2023-01-15
2  2023-01-20
4  2023-01-10

Q13

import pandas as pd