In [4]:


import numpy as np
list_ = [ '1' , '2' , '3' , '4' , '5' ]
array_list = np.array(object = list_)
array_list

array(['1', '2', '3', '4', '5'], dtype='<U1')

In [13]:
#Q1 
print(array_list.dtype)
print(type(list_))

<U1
<class 'list'>

In [16]:
#Q2
print("Data type of list_")
for i in list_:
    print(type(i))
    
print("Data type of array_list")
for i in array_list:
    print(array_list.dtype)

Data type of list_
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
Data type of array_list
<U1
<U1
<U1
<U1
<U1

In [17]:
array_list = np.array(object = list_, dtype = int)

In [18]:
#Q3

print("Data type of list_")
for i in list_:
    print(type(i))
    
print("Data type of array_list")
for i in array_list:
    print(array_list.dtype)

Data type of list_
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
Data type of array_list
int64
int64
int64
int64
int64

In [19]:
import numpy as np
num_list = [ [ 1 , 2 , 3 ] , [ 4 , 5 , 6 ] ]
num_array = np.array(object = num_list)

In [21]:
#Q4

print(num_array.size)
print(num_array.shape)

6
(2, 3)

In [23]:
#Q5

np.zeros((3,3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [27]:
#Q6

np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])